<ul>
<li><%= @student["student"]["first_name"]%></li>   
<li><%= @student["student"]["last_name"]%></li>   
<li><%= @student["student"]["email"]%></li>   
<li><%= @student["student"]["photo"]%></li>   
<li><%= @student["student"]["linkedin_url"]%></li>   
<li><%= @student["student"]["github_url"]%></li>   

</ul>
   <!--  <ul>
      <li><%#= last_name %></li>
      <li><#= email %></li>
      <li><%#= password %></li>
      <li><%#= phone_number %></li>
      <li><%#= short_bio %></li>
      <li><%#= linkedin_url %></li>
      <li><%#= twitter_handle %></li>
      <li><%#= online_resume_url %></li>
      <li><%#= github_url %></li>
      <li><%#= photo %></li>
    </ul> -->

<!--   <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/scviking831" data-widget-id="738562056119455746">Tweets by @scviking831</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->


